@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    min-height: 100vh;
    background-color: #F1DFB3;
    display: flex;
    flex-direction: column;
}

/*------------------------------------------------------------
Header and Lightbulbs section
------------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    background-color: #03003A;
}

h1 {
    font-size: 6vh;
    color: #E5CE6B;
    position: relative;
}

#lightbulbs {
    display: flex;
    justify-content: center;
    gap: 9vw;
    padding-top: 1em;
    background-color: #03003A;
    box-shadow: 0 0 3rem 3rem #03003A;
}

.fa-lightbulb {
    font-size: 12vh;
    color: #36454F;
}

/*------------------------------------------------------------
Game board area
------------------------------------------------------------*/

#game-area {
    padding-top: 5em;
    padding-bottom: 2em;
    position: relative;
}

.board-row {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 2px solid #36454F;
    border-radius: 20%;
}

.feedback-circle {
    height: 20px;
    width: 20px;
    border: 1px solid #03003A;
    border-radius: 50%;
}

.input-box {
    height: 60px;
    width: 300px;
    border: 2px solid #36454F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
}

.input-box-circle {
    height: 54px;
    width: 54px;
    border: 1px solid #03003A;
    border-radius: 50%;
}

button {
    height: 60px;
    width: 60px;
    border: 2px solid #36454F;
    border-radius: 20%;
    padding-top: 5px;
    background-color: #F1DFB3;
}

.fa-plug {
    font-size: 200%;
}

/*------------------------------------------------------------
Score area
------------------------------------------------------------*/

#score-area {
    position: absolute;
    left: 70%;
    bottom: 40%;
}

.scores {
    font-size: larger;
    font-weight: bold;
}

#win {
    color: green;
}

#loss {
    color: red;
}

#high-score {
    color: royalblue;
}

/*------------------------------------------------------------
Footer containing the rules
------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vw;
    background-color: rgba(54, 69, 79, 0.8);
    color: #F1DFB3;
    flex-grow: 1;
    font-size: large;
}

#feedback-red {
    color: red;
    text-shadow: 2px 2px 2px black, 0 0 2px #03003A;
    font-weight: bold;
}

#feedback-white {
    color: white;
    text-shadow: 2px 2px 2px black, 0 0 2px #03003A;
    font-weight: bold;
}

/*------------------------------------------------------------
Media Queries
------------------------------------------------------------*/

/*------------------------------------------------------------
Screen sizes 1150px wide and down
------------------------------------------------------------*/

@media screen and (max-width:1150px) {

    #score-area {
        position: static;
        padding-left: 3rem;
    }
}

/*------------------------------------------------------------
Screen sizes 450px wide and down
------------------------------------------------------------*/

@media screen and (max-width:450px) {

    .feedback {
        height: 40px;
        width: 40px;
    }

    .feedback-circle {
        height: 13px;
        width: 13px;
    }

    .input-box {
        height: 40px;
        width: 200px;
    }

    .input-box-circle {
        height: 34px;
        width: 34px;
    }

    button {
        height: 40px;
        width: 40px;
    }
}